<!DOCTYPE html>
<html lang="ca" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>VALORANT Database</title>
    <link rel="stylesheet" type="text/css" href="/css/llistatGeneral.css">
    <link href="https://fonts.googleapis.com/css2?family=Tungsten:wght@400;700&family=DIN+2014:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body>

<header>
    <h1>VALORANT // DATABASE</h1>
</header>

<div class="menu-container">
    <div class="menu-item">
        <a href="/llistats/modos">Modes de Joc</a>
        <p style="color: #ece8e1; margin-top: 10px; font-size: 14px;">Competitiu, No classificat, Deathmatch...</p>
    </div>
    <div class="menu-item">
        <a href="/llistats/mapes">Mapes</a>
        <p style="color: #ece8e1; margin-top: 10px; font-size: 14px;">Ascent, Bind, Haven, Split...</p>
    </div>
    <div class="menu-item">
        <a href="/llistats/personatges">Agents</a>
        <p style="color: #ece8e1; margin-top: 10px; font-size: 14px;">Jett, Phoenix, Sage, Omen...</p>
    </div>
    <div class="menu-item">
        <a href="/llistats/habilitats">Habilitats</a>
        <p style="color: #ece8e1; margin-top: 10px; font-size: 14px;">Habilitats uniques de cada agent</p>
    </div>
    <div class="menu-item">
        <a href="/llistats/armes">Armes</a>
        <p style="color: #ece8e1; margin-top: 10px; font-size: 14px;">Vandal, Phantom, Operator...</p>
    </div>
</div>


</body>
</html>
